#
####### example-requirements.txt #######
#
###### Requirements without Version Specifiers ######
numpy
discord.py
python-dotenv
#
###### Requirements with Version Specifiers ######
#   See https://www.python.org/dev/peps/pep-0440/#version-specifiers
#
###### Refer to other requirements files ######
#
